@model Brand
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<hr />
<h2>Do you want to delete @Model.Name?</h2>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>